.navbar {
  background-color: #F44336;
  border-radius: 0px !important;
}

.addbtn:hover {
  opacity: .85;
  cursor: pointer;
}

.addbtn {
  background: #01579B;
  transition: 1s;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.add-form {
  padding-bottom: 20px;
}

.form-control{
  margin-bottom: 10px;
}

.table{
  margin-top: 40px;
}

.logoutbtn{
  cursor: pointer;
}
.add{
  margin-left: 80px !important;
}
