.navbar {
  background-color: #F44336;
  border-radius: 0px !important;
}

.addbtn:hover {
  opacity: .85;
  cursor: pointer;
}

.addbtn {
  background: #01579B;
  transition: 1s;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.add-form {
  padding-bottom: 20px;
}

.form-control{
  margin-bottom: 10px;
}

.table{
  margin-top: 40px;
}

.logoutbtn{
  cursor: pointer;
}
.add{
  margin-left: 80px !important;
}

.addatt{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px !important;
  margin-right: 20px;
}

.delbtn{
  background-color: #F95C3C !important;
  border-color: transparent !important;
}

/*-----------------------------------------------Employee Dashboard---------------------------------------------------------------------*/

.infobox{
  width: 100%;
  margin: 0.33%;
  padding: 0px !important;
}

.box-id-name{
  width: 32% !important;
  background-color: #F44336;
}

.box-id-att{
  width: 32% !important;
  background-color: #E91E63;
}

.box-id-adv{
  width: 32% !important;
  background-color: #9C27B0;
}

.box-id-basicpay{
  width: 32% !important;
  background-color: #00BCD4;
}

.box-id-total{
  width: 64.7% !important;
  background-color: #03A9F4;
}

.cardbar{
  width: 100%;
}
.cardbody{
  width: 100%;
}

.cardbar-name{
  background-color: #D32F2F;
}

.cardbar-att{
  background-color: #C2185B;
}

.cardbar-adv{
  background-color: #7B1FA2;
}

.cardbar-basicpay{
  background-color: #0097A7;
}

.cardbar-total{
  background-color: #0288D1;
}

.cardbar-text{
  margin: 0px;
  color: #ffffff;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cardbody-text{
  margin: 0px;
  color: #ffffff;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5em;
}

.charset{
  width: 25;
}
.cardsize{
  width: 31% !important;
  margin: 1%;
}

}


@media screen and (max-width: 580px) {
    .box-id-name{
      width: 48% !important;
    }

    .box-id-att{
      width: 48% !important;
    }

    .box-id-adv{
      width: 48% !important;
    }

    .box-id-basicpay{
      width: 48% !important;
    }

    .box-id-total{
      width: 97% !important;
    }
    
    .cardbar-text{
      font-size: 15px;
    }
    
    .cardbody-text{
      font-size: 3em;
    }
}

@media screen and (max-width: 767px) {
  
    .box-id-name{
      width: 48% !important;
    }

    .box-id-att{
      width: 48% !important;
    }

    .box-id-adv{
      width: 48% !important;
    }

    .box-id-basicpay{
      width: 48% !important;
    }

    .box-id-total{
      width: 97% !important;
    }
    
    .cardbody-text{
      font-size: 4em;
    }
    
}