.navbar {
  background-color: #00796B;
  border-radius: 0px !important;
  color: white ;
}

.navbar a{
  color: white;
  padding-bottom: 25px !important;
}

.navbar a:hover{
 background-color: black !important;
 color: #fff;
}

.navbar-header{
  margin-top: 5px;
}

.backbutton{
  margin-bottom: 5px !important;
  font-size: 24px;
}

.errorr{
  display: none;
}
.errormessage {
  color: red !important;
}

.error1,.error2,.error3,.error4,.error5{
  display: none;
  margin: 0px !important;
}
.message {
  color: red !important;
}
.addbtn:hover {
  opacity: .85;
  cursor: pointer;
}

.invoice:hover {
  cursor: pointer;
}

.addbtn {
  background: #01579B;
  transition: 1s;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.add-form {
  padding-bottom: 20px;
}

.form-control{
  margin-bottom: 10px;
}

.table{
  margin-top: 40px;
}

.logoutbtn{
  cursor: pointer;
}
.add{
  margin-left: 80px !important;
}

.addatt{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px !important;
  margin-right: 20px;
}

.delbtn{
  background-color: #F95C3C !important;
  border-color: transparent !important;
}

/*-----------------------------------------------Employee Dashboard---------------------------------------------------------------------*/

.infobox{
  width: 100%;
  margin: 0.33%;
  padding: 0px !important;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-id-name{
  width: 32% !important;
  background-color: #F44336;
  position: absolute;
}

.box-id-att{
  width: 32% !important;
  background-color: #E91E63;
  position: absolute;
}

.box-id-adv{
  width: 32% !important;
  background-color: #9C27B0;
}

.box-id-basicpay{
  width: 32% !important;
  background-color: #00BCD4;
}

.box-id-total{
  width: 64.7% !important;
  background-color: #03A9F4;
}

.cardbar{
  width: 100%;
}
.cardbody{
  width: 100%;
}

.cardbar-name{
  background-color: #D32F2F;
}

.cardbar-att{
  background-color: #C2185B;
}

.cardbar-adv{
  background-color: #7B1FA2;
}

.cardbar-basicpay{
  background-color: #0097A7;
}

.cardbar-total{
  background-color: #0288D1;
}

.cardbar-text{
  margin: 0px;
  color: #ffffff;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
}

.cardbody-text{
  margin: 0px;
  color: #ffffff;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5em;
}

.charset{
  width: 25;
}
.cardsize{
  width: 31% !important;
  margin: 1%;
}

}


@media screen and (max-width: 580px) {
    .box-id-name{
      width: 48% !important;
    }

    .box-id-att{
      width: 48% !important;
    }

    .box-id-adv{
      width: 48% !important;
    }

    .box-id-basicpay{
      width: 48% !important;
    }

    .box-id-total{
      width: 97% !important;
    }

    .cardbar-text{
      font-size: 15px;
    }

    .cardbody-text{
      font-size: 3em;
    }
}

@media screen and (max-width: 767px) {

    .box-id-name{
      width: 48% !important;
    }

    .box-id-att{
      width: 48% !important;
    }

    .box-id-adv{
      width: 48% !important;
    }

    .box-id-basicpay{
      width: 48% !important;
    }

    .box-id-total{
      width: 97% !important;
    }

    .cardbody-text{
      font-size: 4em;
    }

    .cardbar-text{
      font-size: 15px;
    }

}

#countryCode {
	width : 55px;
}

#empphnum {
  width: 104.7% !important;
}

.country {
  padding: 0 !important;
  width: auto !important;
}

.number {
  padding: 0 !important;
}

/*<------------------------------------- Print modal ------------------------>*/

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    padding-bottom: 50px;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}
